@charset "UTF-8";
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header .cerrarsesion button {
  width: auto;
  height: 50px;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  background-color: #5A6978;
  border: 4px solid #8492A6;
  border-radius: 5px;
  float: right;
  overflow: auto;
}

header .menu {
  padding: 0px;
  width: 100%;
}

header .menu ul,
header .menu ol {
  list-style-type: none;
  margin: 0%;
}

header .menu .nav > li {
  float: left;
}

header .menu .nav li a {
  background-color: white;
  text-decoration: none;
  color: #47525E;
  text-align: center;
  padding: 14px 16px;
  display: block;
}

header .menu .nav li a:hover {
  background-color: #E5E9F2;
}

header .menu .nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

header .menu .nav li:hover > ul {
  display: block;
}

header .menu .nav li ul li {
  position: relative;
}

header .menu .nav li ul li ul {
  right: -140px;
  top: 0px;
}

.logo {
  width: 42px;
  height: 42px;
  vertical-align: middle;
  padding: 0px;
  margin: 3px;
}

header {
  font-size: large;
}

main {
  width: 65%;
  margin: auto;
  margin-top: 1%;
  padding: 20px;
}

main .busqueda {
  display: grid;
  -ms-grid-columns: auto auto 34%;
      grid-template-columns: 7fr 10fr 19fr;
  grid-gap: 5px;
  border: 0px solid gray;
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 5px;
}
main .botones_elimi_actu {
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: 10fr 10fr ;
  grid-gap: 5px;
  border: 0px solid gray;
  border-radius: 5px;
  margin-bottom: 2%;
  margin-top: 40px;
  padding: 5px;
}


main .busqueda .buscar_usuario {
  border: 1px solid gray;
  padding: 1px;
  border-radius: 5px;
}
main .busqueda .boton_1 button{
  width: 40%;
  height: 42px;
  background-color: #f95f62;
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}

main .busqueda .boton_2 button {
  width: 50%;
  height: 42px;
  background-color: #f95f62;
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  float: right;
}

main .busqueda input {
  width: 100%;
  border: none;
  border-style: none;
  outline: none;
}


main .boton button{
  width: 25%;
  height: 42px;
  background-color: #f95f62;
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}

main .busqueda input[type=text] {
  width: 100%;
  height: 15px;
  border-style: none;
  border: none;
}

main .tabla {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  margin-top: 2%;
  text-align: center;
}

main .tabla table {
  border: 0px;
  width: 100%;
  height: 100%;
  border-spacing: 0px 0px;
  border-collapse: collapse;
}

  main .tabla thead {
  background-color: #EFF2F7;
  border: 1px solid #C0CCDA;
  border-spacing: 0px 10px;
}

main .tabla thead th {
  padding: 10px;
  margin-top: 2%;
}

main .tabla tbody tr {
  border: 1px solid #C0CCDA;
  padding: 5px;
  margin-top: 2%;
}

header #titulo {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
}
/* Se crea la rama HU__019_WP */
/*# sourceMappingURL=estilos_usuarios.css.map */