main {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;

  .boton {

    padding: 0px;
    margin: 1%;

    button {

      width: 35%;
      height: 50px;
      background-color: #f95f62;
      color: white;
      border-style: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bolder;
      float: right;
    }
  }
}