body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {

  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 5px;

  .cerrarsesion {

    button {
      width: auto;
      height: 50px;
      color: white;
      cursor: pointer;
      font-weight: bolder;
      background-color: #5A6978;
      border: 4px solid #8492A6;
      border-radius: 5px;
      float: right;
      overflow: auto;
    }
  }

  .menu {
    padding: 0px;
    width: 100%;

    ul,
    ol {
      list-style-type: none;
      margin: 0%;
    }

    .nav>li {
      float: left;
    }

    .nav li a {
      background-color: rgb(255, 255, 255);
      text-decoration: none;
      color: #47525E;
      text-align: center;
      padding: 14px 16px;
      display: block;
    }

    .nav li a:hover {
      background-color: #E5E9F2;
    }

    .nav li ul {
      display: none;
      position: absolute;
      min-width: 140px;
    }

    .nav li:hover>ul {
      display: block;
    }

    .nav li ul li {
      position: relative;
    }

    .nav li ul li ul {
      right: -140px;
      top: 0px;
    }
  }
}

.logo {
  width: 42px;
  height: 42px;
  vertical-align: middle;
  padding: 0px;
  margin: 3px;
}

header {
  font-size: large;
}

main {
  width: 65%;
  margin: auto;
  margin-top: 1%;
  padding: 20px;
  text-align: center;

  .sesion {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;

    .box {
      padding: 0px;
      margin: 1%;
      display: flex;
      align-items: center;
      border: 2px solid #ccc;
      border-radius: 5px;
      height: 50px;
      width: 350px;
    }

    .item-1 {
      padding: 0px;
      margin: 0px;
      width: 100%;
      height: 45px;
      display: inline-block;
    }

    .item-2 {
      padding: 1px;
      margin: 1px;
      width: 45px;
      display: inline-block;
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      border-style: none;

    }

    input[type=text] {
      width: 100%;
      height: 100%;
      border: none;
      border-style: none;
    }

    .iniciar_sesion {
      padding: 0px;
      margin: 1%;

      button {
        width: 352px;
        height: 50px;
        background-color: #f95f62;
        color: white;
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bolder;
      }
    }
  }

  .busqueda {
    display: grid;
    grid-template-columns: auto auto 34%;
    grid-gap: 5px;
    border: 0px solid gray;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2%;
    padding: 5px;

    .fecha-1 {
      border: 1px solid gray;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 2%;
    }

    .item-3 {
      border: 1px solid gray;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 2%;
    }

    input {
      width: 100%;
      border: none;
      border-style: none;
    }

    input[type=date] {
      width: 100%;
      height: 40px;
      border: none;
      border-style: none;
      border-bottom: 1px solid rgb(0, 0, 0);
    }

    input[type=text] {
      width: 100%;
      height: 40px;
      border-style: none;
      border: none;
    }

    .boton {
      padding: 0px;
      margin: 1%;
      grid-column-start: 3;
      grid-column-end: 3;

      button {
        width: 100%;
        height: 50px;
        background-color: #f95f62;
        color: white;
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bolder;
      }
    }
  }

  .registro {
    display: grid;
    grid-template-columns: 34% 34%;
    grid-gap: 5px;
    border: 0px solid gray;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;

    .item-1 {
      border: 1px solid gray;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 2%;
    }

    .item-2 {
      border: 1px solid gray;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 2%;
    }

    input {
      width: 100%;
      border: none;
      border-style: none;
    }

    input[type=date] {
      width: 100%;
      height: 40px;
      border: none;
      border-style: none;
      border-bottom: 1px solid rgb(0, 0, 0);
    }

    input[type=number] {
      width: 100%;
      height: 40px;
      border: none;
      border-style: none;
      border: none;
    }

    input[type=text] {
      width: 100%;
      height: 40px;
      border-style: none;
      border: none;
    }

    select {
      width: 100%;
      height: 40px;
      border-style: none;
      border: none;
      background-color: rgb(255, 255, 255);
      color: gray;
    }



    .boton {
      padding: 0px;
      margin: 1%;
      grid-column-start: 2;
      grid-column-end: 2;

      button {
        width: 100%;
        height: 50px;
        background-color: #f95f62;
        color: white;
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bolder;
      }
    }
  }

  span {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
  }

  .tabla {
    display: grid;
    padding: 5px;
    margin-top: 2%;

    table {
      border: 0px;
      width: 100%;
      height: 100%;
      border-spacing: 0px 0px;
      border-collapse: collapse;
    }

    thead {
      background-color: #EFF2F7;
      border: 1px solid #C0CCDA;
      border-spacing: 0px 10px;


      th {
        padding: 10px;
        margin-top: 2%;
      }
    }

    tbody {

      tr {
        //background-color: #FFFFFF;
        border: 1px solid #C0CCDA;
        padding: 5px;
        margin-top: 2%;
      }
    }
  }
}

.contentImage {
  width: 600px;
  height: 400ṕx;
  line-height: 400px;
  margin: 0% auto;
  margin-top: 1%;
  text-align: center;

  img {
    vertical-align: middle;
    border-style: none;
  }

  span {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 46%;
    left: 530px;
    font-weight: bolder;
  }
}